@font-face {
    font-family: 'AaNSBFWDRG (Non-Commercial Use)';
    src: url('AaNSBFWDRGNon-CommercialUse.woff2') format('woff2'),
        url('AaNSBFWDRGNon-CommercialUse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

